In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
pd.set_option('display.max_columns', None)

In [ ]:
data = pd.read_csv('learningSet.csv') 

# I am not uploading the csv file to save space in github

## Lab | Revisiting Machine Learning Case Study

In [ ]:
data.head()

##### Complete the following steps on the categorical columns in the dataset:

##### 1. Check for null values in all the columns

In [ ]:
# Select categoricals features

In [ ]:
categoricals = data.select_dtypes(object)
categoricals.head()

In [ ]:
# Fill the empty spaces with NaN

In [ ]:
categoricals = categoricals.apply(lambda x: x.replace(" ", np.NaN))

In [ ]:
categoricals.head()

In [ ]:
# We will put the null values into one dataframe. 

nulls_percent_df = pd.DataFrame(categoricals.isna().sum()*100/len(data)).reset_index()
nulls_percent_df
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df

In [ ]:
# Show the nulls not equal to 0 
nulls_percent_df[nulls_percent_df['nulls_percentage']!=0]

##### 2. Identify columns that over 85% missing values

In [ ]:
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>85]
columns_above_threshold['column_name']

##### 3. Create drop list and drop features

In [ ]:
drop_columns_list = list(columns_above_threshold['column_name'])
print(drop_columns_list)

In [ ]:
categoricals = categoricals.drop(drop_columns_list, axis = 1)

In [ ]:
# In addition to this, we consider according to the lab that we need to drop ZIPCODE AND 0SOURCE

In [ ]:
categoricals = categoricals.drop(['OSOURCE', 'ZIP'], axis = 1)

In [ ]:
categoricals.columns

#### 4. Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [ ]:
categoricals['GENDER'].value_counts(dropna=False)

In [ ]:
categoricals['GENDER'] = categoricals['GENDER'].fillna('F')

In [ ]:
categoricals['GENDER'].value_counts(dropna=False)

In [ ]:
def clean_gender(x):
    if x in ['U','J','C','A']:
        return 'other'
    else:
        return x
    
categoricals['GENDER'] = list(map(clean_gender, categoricals['GENDER']))

#categoricals['GENDER']=np.where(categoricals.GENDER.isin(['A','C','J','U']),'other',categoricals.GENDER)

In [ ]:
categoricals['GENDER'].value_counts(dropna=False)

## Lab | Feature engineering

##### 1. Check for null values in the numerical columns.

In [ ]:
numericals = data.select_dtypes(np.number)
numericals.head()

In [ ]:
nulls_percent_df = pd.DataFrame(numericals.isna().sum()*100/len(data)).reset_index()
nulls_percent_df
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df

In [ ]:
nulls_percent_df[nulls_percent_df['nulls_percentage']!=0]

##### 2. Use appropriate methods to clean the columns GEOCODE2, WEALTH1, ADI, DMA,and MSA.

##### - Geocode

In [ ]:
categoricals['GEOCODE2'].value_counts(dropna=False)

In [ ]:
# Put them into category A

In [ ]:
categoricals['GEOCODE2'] = categoricals['GEOCODE2'].fillna('A')

In [ ]:
categoricals['GEOCODE2'].value_counts(dropna=False)

##### - WEALTH1

In [ ]:
numericals['WEALTH1'].value_counts()

In [ ]:
# We are creating a new category

In [ ]:
numericals['WEALTH1'] = np.where(numericals.WEALTH1.isin(['nan']),'other',numericals.WEALTH1)

In [ ]:
numericals['WEALTH1'].value_counts()

In [ ]:
numericals['WEALTH1'].isna().sum()

 ##### - ADI

In [ ]:
numericals['ADI'].value_counts()

In [ ]:
numericals['ADI'].isna().sum()

In [ ]:
# Taking into consideration the little number od ADI in the total we are going to put in first category

In [ ]:
numericals['ADI'] = numericals['ADI'].fillna('13.0')

In [ ]:
numericals['ADI'].isna().sum()

##### - DMA

In [ ]:
numericals['DMA'].isna().sum()

In [ ]:
numericals['DMA'].value_counts()

In [ ]:
numericals['DMA'] = numericals['DMA'].fillna(803.0)

In [ ]:
numericals['DMA'].isna().sum()

In [ ]:
numericals['DMA'].value_counts()

##### - MSA

In [ ]:
numericals['MSA'].value_counts()

In [ ]:
numericals['MSA'].isna().sum()

In [ ]:
numericals['DMA'] = numericals['DMA'].fillna(0.0)

In [ ]:
numericals['DMA'].isna().sum()